body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

/* Tùy chỉnh phần bài đăng */
h2 {
    font-size: 18px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.tongquat {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.noidung {
    flex: 1;
}
.xuly button{
    width: 100px !important; /* Độ rộng mong muốn */
    height: 40px !important; /* Chiều cao mong muốn */
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5px !important; /* Khoảng cách giữa các nút */
    border-radius: 5px !important;
}
.approve-button{
    background-color: #4CAF50 !important;
}
.delete-button{
    background-color: #c41e1e !important;
}
/* CSS cho bố cục cột và danh sách */
.container {
    display: flex; /* Sử dụng bố cục dạng flexbox */
}

.column {
    flex: 1; /* Đặt độ rộng của cột */
    padding: 20px; /* Khoảng cách giữa cột và nội dung */
    border: 1px solid #ccc; /* Đường viền xung quanh cột */
    margin: 10px; /* Khoảng cách giữa các cột */
    border-radius: 5px;
}

/* Thiết kế danh sách chờ duyệt */
h1 {
    font-size: 24px; /* Kích thước tiêu đề */
    color: #333; /* Màu chữ tiêu đề */
}

/* Tuỳ chỉnh CSS cho từng loại danh sách */
.tin-tim-tro {
    background-color: #f2f2f2; /* Màu nền cho danh sách tìm trọ */
}

.tin-cho-thue {
    background-color: #e4e4e4; /* Màu nền cho danh sách cho thuê trọ */
}

/* Thiết kế các nút duyệt và từ chối */
.approve-button, .delete-button {
    background-color: #4CAF50; /* Màu nền cho nút duyệt */
    color: white; /* Màu chữ nút duyệt */
    border: none; /* Loại bỏ đường viền */
    padding: 10px 20px; /* Kích thước nút */
    cursor: pointer; /* Biểu tượng con trỏ khi di chuột vào nút */
    margin: 5px; /* Khoảng cách giữa nút */
}

.delete-button {
    background-color: #f44336; /* Màu nền cho nút từ chối */
}
.noidung {
    display: flex;
}
.left{
    flex: 1;
    margin-right: 10px;
}
.left img{
    width: 100%;
    height: auto;
}
.right{
    flex: 2;

}
