* {
  box-sizing: border-box;
  outline: 0;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}
.main {
  width: 77%;
  border: 1px none #b2b0b0;
  padding: 10px;
  margin: auto;
}
.thanhphan{
  width: 100%;
}
.tongquat a{
  color: black;
  text-decoration: none;
}
.tongquat:hover{
  background-color: #8f8f96e7;
  border-radius: 5px;
}
.tongquat img {
  border-radius: 10px; 
  overflow: hidden; /* Đảm bảo ảnh được bo góc */
}
.noidung {
  display: flex;
}
.left{
  flex: 1;
  margin-right: 10px;
}
.left img{
  width: 100%;
  height: auto;
}
.right{
  flex: 2;
}