body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    height: 900px;
}
#main{
    background: linear-gradient(to bottom, #fefcfc 30%, #192442 70%); /* Sử dụng linear-gradient để tạo nền chia đôi */
    height: 100%;
}
.tongquat {
    text-align: center;
    margin: auto;
    max-width: 700px;
    height: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.top {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* CSS để thiết lập nội dung form nằm từ trái sang */
form {
    margin: 0 auto;
    max-width: 600px;
    text-align: left; /* Đặt alignment của form là trái */
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    width: 100%; /* Đặt chiều rộng của label là 100% để nội dung label nằm từ trái */
}

input[type="file"],
input[type="number"],
input[type="text"],
textarea {
    width: 100%; /* Đặt chiều rộng của input và textarea là 100% */
    margin-bottom: 10px;
}

#image-preview {
    margin-bottom: 20px;
}

.preview-image {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}
