* {
    box-sizing: border-box;
    outline: 0;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}
/*-----bộ lọc---------*/
  /* FILTER */
  /* .page-homeqn-content {
    width: 100%;
    height: 56px;
  }
  
  /* FILTER SEARCH */
  .filter {
    width: 70%;
    height: 54px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 200px;
    background-color: #ecb207;
  }
  .filter-list {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  /*vùng chứa phải được định vị tương đối*/
  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none;
    border-radius: 20px;
  }
  
  .select-selected {
    background-color: rgb(3, 38, 77);
  }
  
  .select-items:hover {
    background-color: rgb(244, 230, 212);
  }
  /*tạo kiểu mũi tên bên trong phần tử được chọn*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
  }
  
  /*chỉ mũi tên lên trên khi hộp chọn đang mở*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000000 transparent;
    top: 7px;
  }
  
  .select-items div,
  .select-selected {
    color: #000000;
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 10px;
    border-color: transparent transparent rgba(255, 157, 157, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options)*/
  .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*ẩn các mục khi đóng hộp chọn*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .select-items {
    border: 1px solid;
    width: 200px;
    height: 297px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .filter-list button {
    background-color: rgb(175, 175, 6);
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
  }
  
  /*--------phần ảnh phòng và dữ liệu----------*/
  
  .room-list .room-item {
    margin-bottom: -38px;
  }
  
  .room-title {
    margin-bottom: 10px;
  }
  
  .row-room {
    margin-left: -15px;
    margin-right: -15px;
    height: 75px;
  }
  .room {
    position: absolute;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 61%;
  }
  
  .room-list .picture {
    box-shadow: none;
    border: none;
    border-radius: 0px;
    margin-bottom: 8px;
    padding: 0px;
    float: left;
  }
  
  .room-img {
    max-width: 300px;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .room-item {
    width: 920px;
    border: 1px none;
    padding: 10px;
    height: 322px;
  }
  #room {
    width: 360px;
    height: 950px;
    float: left;
  }
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  #room-infor {
    width: 600px;
    height: 150px;
    float: right;
    padding-right: 15px;
  }
  .room-infor {
    padding-left: 90px;
    padding-top: 19px;
    line-height: 2;
    float: left;
    max-width: 551px;
  }
  
  .item-address span,
  .item-area span,
  .item-vs span,
  .item-price span,
  .item-utilities span {
    color: blue;
  }
  
  .item-price a {
    color: red;
  }
  
  .xemchitiet {
    font-size: 20px;
    border-radius: 12px;
    background-color: deepskyblue;
  }
  .xemchitiet:hover {
    background-color: rgb(123, 187, 244);
  }
  
  .main {
    width: 77%;
    border: 1px none #b2b0b0;
    padding: 10px;
    margin: auto;
  }
  .room-list {
    float: left;
    width: 80%;
  }
  
  /*-----------sidebar----*/
  .sidebar {
    text-align: justify;
    display: right;
    height: 432px;
    width: 20%;
    /* background-color: aliceblue;*/
    float: right;
    padding-top: 38px;
  }
  
  .shop-infor {
    display: right;
    max-height: 600px;
    width: 100%;
    background-color: rgb(199, 227, 251);
    float: right;
  }
  
  .shop-phone {
    margin-top: 40px;
    display: right;
    max-height: 500px;
    width: 100%;
    background-color: rgb(199, 227, 251);
    float: right;
  }
  
  .logo-img-sidebar {
    height: 61px;
    width: 148px;
  }
  
  div .sidebar-img img {
    padding-top: 40px;
    width: 100%;
    height: 300px;
  }
.room-list .room-item
{
  margin-bottom: -38px;
  
}

.room-title
{
  margin-bottom: 10px;
}

.row-room{
  margin-left: -15px;
  margin-right: -15px;
  height:75px;
}
.room{
  position:absolute;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 61%;
}

.room-list .picture
{
  box-shadow: none;
  border: none;
  border-radius: 0px;
  margin-bottom: 8px;
  padding: 0px;
  float: left;
}

.room-img
{
 
  max-width: 300px;
  height: auto;
}

a{
  text-decoration: none;
}

.room-item
{
  width: 920px;
  border: 1px none;
  padding: 10px;
  height: 322px;
}
#room
{
  width: 360px;
  height: 950px;
  float:left;

}

.row{
  margin-left: -15px;
  margin-right: -15px;
}
#room-infor
{
  width:600px;
  height: 150px;
  float:right;
  padding-right: 15px;
}
.room-infor
{
  padding-left: 90px;
  padding-top: 19px; 
  line-height: 2;
  float: left;
  max-width: 551px;
}

.item-address span, .item-area span, .item-vs span, .item-price span, .item-utilities span
{
  color: blue;
}

.item-price a
{
  color:red
}

.xemchitiet
{
  font-size: 20px;
  border-radius: 12px;
  background-color: deepskyblue;

}
.xemchitiet:hover
{
  background-color:rgb(123, 187, 244);
}


.main
{
  width: 77%;
  border: 1px none #b2b0b0;
  padding: 10px;
  margin:auto;
}
.room-list
{
  
  float: left;
  width: 80%;
}

/*-----------sidebar----*/
.sidebar
{
  text-align: justify;
  display: right;
  height: 432px;
  width: 20%;
 /* background-color: aliceblue;*/
  float:right;
  padding-top: 38px;
}

.shop-infor
{
  display: right;
  max-height: 600px;
  width: 100%;
  background-color: rgb(199, 227, 251);
  float:right;
}

.shop-phone
{
  margin-top: 40px;
  display: right;
  max-height: 500px;
  width: 100%;
  background-color: rgb(199, 227, 251);;
  float:right;
}


.logo-img-sidebar
{
  height: 61px;
  width: 148px;
}

div .sidebar-img img
{
  padding-top: 40px;
  width: 100%;
  height: 300px;
} 
